/** HEADER **/
#header-nav {
    background-color: darkgray;
    border-radius: 0;
    border: 2px solid black;
}

.navbar-brand h1 {
    font-weight: bold;
    color: black;
    font-size: 1.6em;
    
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}