/** HEADER **/
#header-nav {
    border-radius: 0;
    border: 0;
}

.container {
  margin: 0;
  padding: 0;
}
.navbar{
	border-radius: 0px;
  background-color: darkgray;
  border: 1px solid black;
}

.navbar-brand{
  font-size: 35px;
  padding-left: 25px;
  color: black;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar-toggle{
	border: 2px solid black;
	margin-right: 25px;
}

#page-title {
  font-weight: bold;
}

.icon-bar{
	background-color: black;
}

#Beef {
  border: 1px solid black;
}

.menu-item {
  color: black;
}

.row{
	margin: 20px;
}

.section {
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

h3 {
  font-weight: bold;
}